{% extends "layout.html" %}

{% block content %}

	<script>
        let item = {{ item|tojson }}
    </script>
	
	<style>
        /* Custom Styles */
        .option-label {
            cursor: pointer;
        }
    </style>
	
	<script type="text/javascript" src="{{ url_for('static', filename = 'question.js') }}"></script>

    <div class="container mt-5">
	
        <h1 class="text-center large mb-5">{{ item.name }}</h1>
        <div class="mb-3 gray med">{{ item.question }}</div>
        <div class="mb-5 gray small">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="optionA" value="a">
                <label class="form-check-label option-label" for="optionA">a) {{ item.answers[0] }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="optionB" value="b">
                <label class="form-check-label option-label" for="optionB">b) {{ item.answers[1] }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="optionC" value="c">
                <label class="form-check-label option-label" for="optionC">c) {{ item.answers[2] }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="optionD" value="d">
                <label class="form-check-label option-label" for="optionD">d) {{ item.answers[3] }}</label>
            </div>
        </div>
		<div class="buttons-line">
			<button class="btn btn-primary submit-btn me-2 mr-2">Submit</button>
			<button class="btn btn-secondary clear-btn me-2 ml-2">Clear</button>
		</div>
		
		<div class="arrow-line mt-5">
			<button id="prev-btn" class="btn left-arrow"></button>
			<button id="next-btn" class="btn right-arrow"></button>
		</div>
    </div>
	
{% endblock %}
